/* extension.interface.css
 *
 * SPDX-License-Identifier: GPL-2.0-or-later
 * SPDX-FileCopyrightText: 2023 Roman Tyukh
 *
 */

.NC-PopupBaseMenuItem {
    padding: 0em;
    margin: 0em;
}

StBoxLayout.NC-BoxLayout {
    padding: 0em;
    margin: 0em;
}

StBoxLayout.NC-stack1BoxLayout {
    /* 0.5em */
    padding-top: 0em;
    padding-bottom: 0em;
}

StBoxLayout.NC-stack2BoxLayout {
    padding-top: 0em;
    /* 0.5em */
    padding-bottom: 0em;
    width: 0.25em;
}

/*** NCValue */

.controls-value {
    padding-top: 0.25em; 
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.controls-value-value {
    color: white;
    background-color: gray;
    height: 1.5em;
    border-radius: 0.4em;
    border-width: 0.1em;
    border-color: gainsboro;
    font-size: 1em;
    font-weight: normal;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.2em;
    padding-bottom: 0em;
}

.controls-value-label {
    color: white;
    width: 1.5em;
    font-size: 1em;
    font-weight: bold;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0.2em;
    padding-bottom: 0em;
}

.controls-value-divider {
    width: 0.5em;
}

/* NCValue ***/

StBoxLayout.NC-indicatorBoxLayout {
    padding-top: 0.75em;
    padding-bottom: 0.5em;
}

StBoxLayout.NC-indicatorMantissaBoxLayout {
    color: white;
    background-color: grey;
    height: 2.5em;
    border-radius: 0.4em;
    border-width: 0.1em;
    border-color: gainsboro;
}

StBoxLayout.NC-indicatorExponentBoxLayout {
    color: white;
    background-color: grey;
    height: 2.5em;
    width: 4.75em;
    margin-left: 0.2em; 
    border-radius: 0.4em;
    border-width: 0.1em;
    border-color: gainsboro;
}

.NC-indicatorMantissaLabel {
    color: white;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 1.75em;
    font-weight: normal;
}

.NC-indicatorExponentLabel {
    color: white;
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 1.75em;
    font-weight: normal;
}

/*** NCPlaceholder */

.controls-placeholder {
    padding: 0em;
    margin: 0em;
}

.controls-placeholder-box {
    padding: 0em;
    margin: 0em;
}

.controls-placeholder-label-left {
    padding: 0em;
    margin: 0em;
    color: yellow;
    font-size: 0.8em;
    font-weight: normal;
}

.controls-placeholder-label-right {
    padding: 0em;
    margin: 0em;
    color: lightskyblue;
    font-size: 0.8em;
    font-weight: normal;
}

/* NCPlaceholder ***/

/*** NCKey */

NCKey {
    height: 1.75em;
    width: 3em;
    margin: 0.15em;
    border-radius: 0.3em;
    border-width: 0.08em;
    border-color: black;
    font-size: 1.25em;
    font-weight: bold;
}

NCKey:hover {
    border-color: white;
}

NCKey.NC-grayButton {
    color: black;
    background-color: gainsboro;
}

NCKey.NC-redButton {
    color: white;
    background-color: crimson;
}

NCKey.NC-yellowButton {
    color: black;
    background-color: yellow;
}

NCKey.NC-blueButton {
    color: white;
    background-color: steelblue;
}

NCKey.NC-darkgrayButton {
    color: white;
    background-color: dimgray;
}

/* NCKey ***/

.NC-controlBoxLayout {
    padding: 0em;
    margin: 0em;
}

.NC-controlButton {
    color: grey;
    height: 1.5em;
    width: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.NC-controlButton:hover {
    color: white;
}
